.board{
    background-color: navy;
    padding: 20px;
    white-space: nowrap;
    width: 690px;
}

.column{
    display: inline-block;
}

.space{
    border-radius: 50%;
    background-color: white;
    width: 75px;
    height: 75px;
    display: block;
    margin: 10px;
    box-shadow: 0 5px 5px gray
}

body{
    background-image: url('character.jpg');
    background-position: left top;
    background-size: 70vh auto;
    background-repeat: no-repeat;
    font-family: 'Luckiest Guy', cursive;
}

.play{
    margin-top: 50px;
    margin-left: 400px;
    text-align: center;
    color: darkred;
    font-size: 150%;
    line-height: 90%;
}