.board{
    background-color: navy;
    padding: 1em;
    white-space: nowrap;
    width: 28em;
}

.column{
    display: inline-block;
}

.space{
    border-radius: 50%;
    background-color: white;
    width: 3em;
    height: 3em;
    display: block;
    margin: 10px;
    box-shadow: 0 5px 5px gray
}

body{
    background-image: url('character.jpg');
    background-position: left top;
    background-size: 32em auto;
    background-repeat: no-repeat;
    font-family: 'Luckiest Guy', cursive;
}

.play{
    margin-top: 2em;
    margin-left: 17em;
    text-align: center;
    color: darkred;
    font-size: 150%;
    line-height: 90%;
    width: 28em;
}